create database web_otobus
go
USE web_otobus
GO
/****** Object:  StoredProcedure [dbo].[sp_guzergahUpdate]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_guzergahUpdate](
@guzergahID int
,@guzergahAd nvarchar(40)
,@guzergahAciklama nvarchar(40)
)
as
delete from guzergahMola where guzergahId= @guzergahID
delete from guzergahDurak where guzergahID=@guzergahID
update guzergah set ad=@guzergahAd,aciklama=@guzergahAciklama where guzergahId= @guzergahID


GO
/****** Object:  StoredProcedure [dbo].[sp_seferDetaylariGetir]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_seferDetaylariGetir]
(
@guzergahID int
,@neredenSubeID int 
,@nereyeSubeID int
)
as
declare @neredenSira int,@nereyeSira int,@guzergahMolaSayisi int,@kilometre int
select @guzergahMolaSayisi=Count(*) from guzergahMola where guzergahID = @guzergahID
select @neredenSira=sira from guzergahDurak where guzergahID=@guzergahID  and subeID=@neredenSubeID
select @nereyeSira=sira from guzergahDurak where guzergahID=@guzergahID  and subeID=@nereyeSubeID
if(@neredenSira<@nereyeSira)
begin
select @kilometre = sum(kilometre) from guzergahDurak where guzergahID=@guzergahID and sira  between @neredenSira+1 and @nereyeSira-1
end
else
begin
select @kilometre = sum(kilometre) from guzergahDurak where guzergahID=@guzergahID and sira  between @nereyeSira+1 and @neredenSira -1
end
select @guzergahMolaSayisi 'molaSayisi',@kilometre 'mesafe',@neredenSira 'neredenSira',@nereyeSira 'nereyeSira'


GO
/****** Object:  StoredProcedure [dbo].[sp_seferFiltreleByYon]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_seferFiltreleByYon]
(
@guzergahID int
,@neredenSubeID int 
,@nereyeSubeID int
)
as
declare @yon bit

declare @neredenSira int,@nereyeSira int
select @neredenSira=sira from guzergahDurak where guzergahID=@guzergahID  and subeID=@neredenSubeID
select @nereyeSira=sira from guzergahDurak where guzergahID=@guzergahID  and subeID=@nereyeSubeID
if (@neredenSira>@nereyeSira)
begin
set @yon=0
end
else if(@neredenSira<@nereyeSira)
begin
set @yon=1
end
select @yon 'yon'


GO
/****** Object:  StoredProcedure [dbo].[sp_seferGetirByGuzergahAndTarih]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_seferGetirByGuzergahAndTarih](
 @neredenSubeID int
,@nereyeSubeID int
,@kalkisTarihi datetime
)
as
SELECT  sefer.yon,sefer.guzergahID,sefer.seferID,guzergah.ad,sefer.kalkisTarihi FROM sefer 
INNER JOIN guzergah on sefer.guzergahID = guzergah.guzergahID 
INNER JOIN guzergahDurak ON guzergah.guzergahID = guzergahDurak.guzergahID 
WHERE guzergahDurak.guzergahID  
IN(
select guzergahID  from guzergahDurak 
WHERE SubeID IN(@neredenSubeID,@nereyeSubeID)
group by guzergahID 
having  count(guzergahID)=2
)
AND Convert(varchar(20), kalkisTarihi, 102)=Convert(varchar(20), @kalkisTarihi, 102) and sefer.durum=1 
group by guzergah.ad,sefer.seferID,sefer.kalkisTarihi,sefer.guzergahID,sefer.yon


GO
/****** Object:  Table [dbo].[adres]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[adres](
	[adresID] [int] IDENTITY(1,1) NOT NULL,
	[sehirID] [int] NULL,
	[ilceID] [int] NULL,
	[mahalleID] [int] NULL,
	[aciklama] [varchar](50) NULL,
 CONSTRAINT [PK_adres] PRIMARY KEY CLUSTERED 
(
	[adresID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[basvurular]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[basvurular](
	[basvuruid] [int] IDENTITY(1,1) NOT NULL,
	[ad_soyad] [varchar](50) NOT NULL,
	[dogumyeri] [varchar](50) NULL,
	[dogumtarihi] [datetime] NOT NULL,
	[medenihal] [varchar](10) NULL,
	[tel] [varchar](15) NOT NULL,
	[mail] [varchar](50) NULL,
	[ikametadresi] [varchar](max) NOT NULL,
	[kısabilgi] [varchar](max) NOT NULL,
	[dosya] [varchar](50) NOT NULL,
	[durum] [bit] NOT NULL,
 CONSTRAINT [PK_basvurular] PRIMARY KEY CLUSTERED 
(
	[basvuruid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[bilet]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bilet](
	[biletID] [int] IDENTITY(0,1) NOT NULL,
	[seferID] [int] NOT NULL,
	[musteriID] [int] NOT NULL,
	[islem] [bit] NOT NULL,
	[ucret] [money] NOT NULL,
	[CalisanID] [int] NOT NULL,
	[alinmaTarihi] [datetime] NOT NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[biletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calisan]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calisan](
	[calisanID] [int] IDENTITY(0,1) NOT NULL,
	[calisanPozisyonID] [int] NOT NULL,
	[subeID] [int] NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[cinsiyet] [nvarchar](50) NULL,
	[dogumTarihi] [datetime] NOT NULL,
	[ehliyetSinifi] [nvarchar](5) NULL,
	[ehliyetAlisTarihi] [datetime] NULL,
	[telefon] [nvarchar](20) NOT NULL,
	[mail] [nvarchar](50) NOT NULL,
	[adresID] [int] NOT NULL,
	[girisTarihi] [datetime] NOT NULL,
	[cikisTarihi] [datetime] NULL,
	[maas] [money] NOT NULL,
	[durum] [bit] NOT NULL,
	[calisanTCKNO] [nvarchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[calisanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calisanKullanici]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calisanKullanici](
	[calisanKullanici] [int] IDENTITY(0,1) NOT NULL,
	[calisanID] [int] NOT NULL,
	[kadi] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](50) NOT NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[calisanKullanici] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[calisanPozisyon]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calisanPozisyon](
	[calisanPozisyonID] [int] IDENTITY(0,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[calisanPozisyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[guzergah]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guzergah](
	[guzergahID] [int] IDENTITY(0,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[aciklama] [nvarchar](max) NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[guzergahID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[guzergahDurak]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guzergahDurak](
	[guzergahDurakID] [int] IDENTITY(0,1) NOT NULL,
	[guzergahID] [int] NOT NULL,
	[subeID] [int] NOT NULL,
	[sira] [int] NOT NULL,
	[kilometre] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[guzergahDurakID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[guzergahMola]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guzergahMola](
	[guzergahMolaID] [int] IDENTITY(0,1) NOT NULL,
	[molaTesisID] [int] NOT NULL,
	[guzergahID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[guzergahMolaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ilce]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilce](
	[ilceID] [int] IDENTITY(1,1) NOT NULL,
	[sehirID] [int] NULL,
	[ad] [nvarchar](255) NULL,
 CONSTRAINT [PK__ilceler__43CE0F5602084FDA] PRIMARY KEY CLUSTERED 
(
	[ilceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[koltuk]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[koltuk](
	[koltukID] [int] IDENTITY(0,1) NOT NULL,
	[seferID] [int] NOT NULL,
	[musteriID] [int] NOT NULL,
	[guzergahDurakSira] [int] NOT NULL,
	[koltukNo] [int] NOT NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[koltukID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[mahalle]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mahalle](
	[mahalleID] [int] IDENTITY(1,1) NOT NULL,
	[ilceID] [int] NULL,
	[ad] [nvarchar](255) NULL,
 CONSTRAINT [PK__mahalle__9E92EC5105D8E0BE] PRIMARY KEY CLUSTERED 
(
	[mahalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[molaTesis]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[molaTesis](
	[molaTesisID] [int] IDENTITY(0,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[adresID] [int] NOT NULL,
	[aciklama] [nvarchar](max) NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[molaTesisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[musteri]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteri](
	[musteriID] [int] IDENTITY(0,1) NOT NULL,
	[kadi] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL,
	[tckn] [nvarchar](11) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[cinsiyet] [nvarchar](50) NOT NULL,
	[dogumTarihi] [datetime] NOT NULL,
	[kayitTarihi] [datetime] NOT NULL,
	[cepTelefonu] [nvarchar](20) NULL,
	[evTelefonu] [nvarchar](20) NULL,
	[eposta] [nvarchar](50) NULL,
	[adresID] [int] NOT NULL,
	[puan] [int] NOT NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[musteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[otobus]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otobus](
	[otobusID] [int] IDENTITY(0,1) NOT NULL,
	[saseNumarasi] [nvarchar](30) NULL,
	[plaka] [nvarchar](30) NULL,
	[otobusModelID] [int] NOT NULL,
	[uretimYili] [datetime] NOT NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[otobusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[otobusMarka]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otobusMarka](
	[otobusMarkaID] [int] IDENTITY(0,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[aciklama] [nvarchar](max) NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[otobusMarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[otobusModel]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otobusModel](
	[otobusModelID] [int] IDENTITY(0,1) NOT NULL,
	[otobusMarkaID] [int] NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[koltukSayisi] [int] NOT NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[otobusModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sefer]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sefer](
	[seferID] [int] IDENTITY(0,1) NOT NULL,
	[otobusID] [int] NULL,
	[kalkisTarihi] [datetime] NOT NULL,
	[guzergahID] [int] NOT NULL,
	[durum] [bit] NOT NULL,
	[yon] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[seferCalisan]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seferCalisan](
	[seferCalisanID] [int] IDENTITY(0,1) NOT NULL,
	[seferID] [int] NOT NULL,
	[calisanID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seferCalisanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sehir]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sehir](
	[sehirID] [int] IDENTITY(1,1) NOT NULL,
	[plaka] [nvarchar](255) NULL,
	[ad] [nvarchar](255) NULL,
 CONSTRAINT [PK__sehir__5D6A100009A971A2] PRIMARY KEY CLUSTERED 
(
	[sehirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sube]    Script Date: 2.3.2015 15:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sube](
	[subeID] [int] IDENTITY(0,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[adresID] [int] NOT NULL,
	[acilisTarihi] [datetime] NOT NULL,
	[durum] [bit] NOT NULL,
	[telefon] [nvarchar](50) NULL,
	[mail] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[subeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[adres] ON 

INSERT [dbo].[adres] ([adresID], [sehirID], [ilceID], [mahalleID], [aciklama]) VALUES (1, 1, 1, 1, NULL)
INSERT [dbo].[adres] ([adresID], [sehirID], [ilceID], [mahalleID], [aciklama]) VALUES (2, 1, 2, 2, NULL)
INSERT [dbo].[adres] ([adresID], [sehirID], [ilceID], [mahalleID], [aciklama]) VALUES (3, 28, 235, 2456, NULL)
SET IDENTITY_INSERT [dbo].[adres] OFF
SET IDENTITY_INSERT [dbo].[bilet] ON 

INSERT [dbo].[bilet] ([biletID], [seferID], [musteriID], [islem], [ucret], [CalisanID], [alinmaTarihi], [durum]) VALUES (13, 19, 14, 1, 41.0000, 7, CAST(0x0000A44D015D5165 AS DateTime), 1)
INSERT [dbo].[bilet] ([biletID], [seferID], [musteriID], [islem], [ucret], [CalisanID], [alinmaTarihi], [durum]) VALUES (14, 21, 14, 1, 41.0000, 7, CAST(0x0000A44D015D5196 AS DateTime), 1)
INSERT [dbo].[bilet] ([biletID], [seferID], [musteriID], [islem], [ucret], [CalisanID], [alinmaTarihi], [durum]) VALUES (15, 19, 15, 1, 41.0000, 7, CAST(0x0000A44D0161A2BD AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[bilet] OFF
SET IDENTITY_INSERT [dbo].[calisan] ON 

INSERT [dbo].[calisan] ([calisanID], [calisanPozisyonID], [subeID], [ad], [soyad], [cinsiyet], [dogumTarihi], [ehliyetSinifi], [ehliyetAlisTarihi], [telefon], [mail], [adresID], [girisTarihi], [cikisTarihi], [maas], [durum], [calisanTCKNO]) VALUES (7, 0, 1, N'Laary', N'Page', N'Bay', CAST(0x0000816300000000 AS DateTime), N'E', CAST(0x0000000000000000 AS DateTime), N'053 4623542', N'page@hotmail.com', 4, CAST(0x0000A414000EFE67 AS DateTime), CAST(0x0000A42100000000 AS DateTime), 12000.0000, 0, N'00000000000')
INSERT [dbo].[calisan] ([calisanID], [calisanPozisyonID], [subeID], [ad], [soyad], [cinsiyet], [dogumTarihi], [ehliyetSinifi], [ehliyetAlisTarihi], [telefon], [mail], [adresID], [girisTarihi], [cikisTarihi], [maas], [durum], [calisanTCKNO]) VALUES (8, 3, 1, N'ali', N'sad', N'Bay', CAST(0x0000816300000000 AS DateTime), N'E', CAST(0x0000000000000000 AS DateTime), N'05355555555', N'page@hotmail.com', 5, CAST(0x0000A414000F5373 AS DateTime), CAST(0x0000A42100000000 AS DateTime), 1200.0000, 0, N'00000000000')
INSERT [dbo].[calisan] ([calisanID], [calisanPozisyonID], [subeID], [ad], [soyad], [cinsiyet], [dogumTarihi], [ehliyetSinifi], [ehliyetAlisTarihi], [telefon], [mail], [adresID], [girisTarihi], [cikisTarihi], [maas], [durum], [calisanTCKNO]) VALUES (9, 4, 1, N'ayşe', N'Page', N'Bayan', CAST(0x0000816300000000 AS DateTime), N'E', CAST(0x0000000000000000 AS DateTime), N'05355555555', N'page@hotmail.com', 6, CAST(0x0000A414000F550A AS DateTime), NULL, 1200.0000, 1, N'00000000000')
SET IDENTITY_INSERT [dbo].[calisan] OFF
SET IDENTITY_INSERT [dbo].[calisanKullanici] ON 

INSERT [dbo].[calisanKullanici] ([calisanKullanici], [calisanID], [kadi], [sifre], [durum]) VALUES (1, 7, N'laary', N'12345', 1)
INSERT [dbo].[calisanKullanici] ([calisanKullanici], [calisanID], [kadi], [sifre], [durum]) VALUES (2, 8, N'ayşe', N'12345', 1)
INSERT [dbo].[calisanKullanici] ([calisanKullanici], [calisanID], [kadi], [sifre], [durum]) VALUES (3, 16, N'Sarılar3', N'12345', 1)
SET IDENTITY_INSERT [dbo].[calisanKullanici] OFF
SET IDENTITY_INSERT [dbo].[calisanPozisyon] ON 

INSERT [dbo].[calisanPozisyon] ([calisanPozisyonID], [ad]) VALUES (0, N'Patron')
INSERT [dbo].[calisanPozisyon] ([calisanPozisyonID], [ad]) VALUES (1, N'Genel Müdür')
INSERT [dbo].[calisanPozisyon] ([calisanPozisyonID], [ad]) VALUES (2, N'Müdür')
SET IDENTITY_INSERT [dbo].[calisanPozisyon] OFF
SET IDENTITY_INSERT [dbo].[guzergah] ON 

INSERT [dbo].[guzergah] ([guzergahID], [ad], [aciklama], [EklenmeTarihi], [durum]) VALUES (0, N'', N'', CAST(0x0000A4140019C044 AS DateTime), 0)
INSERT [dbo].[guzergah] ([guzergahID], [ad], [aciklama], [EklenmeTarihi], [durum]) VALUES (1, N'update deneme', N'update açıklama', CAST(0x0000A4140019D4B4 AS DateTime), 1)
INSERT [dbo].[guzergah] ([guzergahID], [ad], [aciklama], [EklenmeTarihi], [durum]) VALUES (2, N'', N'', CAST(0x0000A416008FCE5F AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[guzergah] OFF
SET IDENTITY_INSERT [dbo].[guzergahDurak] ON 

INSERT [dbo].[guzergahDurak] ([guzergahDurakID], [guzergahID], [subeID], [sira], [kilometre]) VALUES (13, 2, 4, 0, 0)
INSERT [dbo].[guzergahDurak] ([guzergahDurakID], [guzergahID], [subeID], [sira], [kilometre]) VALUES (14, 2, 5, 1, 100)
INSERT [dbo].[guzergahDurak] ([guzergahDurakID], [guzergahID], [subeID], [sira], [kilometre]) VALUES (15, 2, 6, 2, 200)
SET IDENTITY_INSERT [dbo].[guzergahDurak] OFF
SET IDENTITY_INSERT [dbo].[guzergahMola] ON 

INSERT [dbo].[guzergahMola] ([guzergahMolaID], [molaTesisID], [guzergahID]) VALUES (4, 4, 2)
INSERT [dbo].[guzergahMola] ([guzergahMolaID], [molaTesisID], [guzergahID]) VALUES (5, 6, 1)
INSERT [dbo].[guzergahMola] ([guzergahMolaID], [molaTesisID], [guzergahID]) VALUES (6, 5, 4)
SET IDENTITY_INSERT [dbo].[guzergahMola] OFF
SET IDENTITY_INSERT [dbo].[ilce] ON 

INSERT [dbo].[ilce] ([ilceID], [sehirID], [ad]) VALUES (1, 1, N'ALADAĞ')
INSERT [dbo].[ilce] ([ilceID], [sehirID], [ad]) VALUES (2, 1, N'CEYHAN')
INSERT [dbo].[ilce] ([ilceID], [sehirID], [ad]) VALUES (3, 1, N'FEKE')
GO
SET IDENTITY_INSERT [dbo].[ilce] OFF
SET IDENTITY_INSERT [dbo].[koltuk] ON 

INSERT [dbo].[koltuk] ([koltukID], [seferID], [musteriID], [guzergahDurakSira], [koltukNo], [durum]) VALUES (35, 19, 14, 0, 24, 1)
INSERT [dbo].[koltuk] ([koltukID], [seferID], [musteriID], [guzergahDurakSira], [koltukNo], [durum]) VALUES (36, 19, 14, 1, 24, 1)
INSERT [dbo].[koltuk] ([koltukID], [seferID], [musteriID], [guzergahDurakSira], [koltukNo], [durum]) VALUES (37, 19, 14, 2, 24, 1)
SET IDENTITY_INSERT [dbo].[koltuk] OFF
SET IDENTITY_INSERT [dbo].[mahalle] ON 

INSERT [dbo].[mahalle] ([mahalleID], [ilceID], [ad]) VALUES (1, 1, N'BÜYÜK SOFULU')
INSERT [dbo].[mahalle] ([mahalleID], [ilceID], [ad]) VALUES (2, 1, N'DÜNYADİBİ')
INSERT [dbo].[mahalle] ([mahalleID], [ilceID], [ad]) VALUES (3, 2, N'AYTEMUROĞLU')
GO
SET IDENTITY_INSERT [dbo].[mahalle] OFF
SET IDENTITY_INSERT [dbo].[molaTesis] ON 

INSERT [dbo].[molaTesis] ([molaTesisID], [ad], [adresID], [aciklama], [EklenmeTarihi], [durum]) VALUES (1, N'Ali dinlenme tesisleri', 9, NULL, CAST(0x0000A4140013FCF1 AS DateTime), 1)
INSERT [dbo].[molaTesis] ([molaTesisID], [ad], [adresID], [aciklama], [EklenmeTarihi], [durum]) VALUES (3, N'Mehmet dinlenme tesisleri', 10, NULL, CAST(0x0000A414001415DE AS DateTime), 1)
INSERT [dbo].[molaTesis] ([molaTesisID], [ad], [adresID], [aciklama], [EklenmeTarihi], [durum]) VALUES (4, N'Ayşe Dinlenme tesisi', 11, NULL, CAST(0x0000A4140014379F AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[molaTesis] OFF
SET IDENTITY_INSERT [dbo].[musteri] ON 

INSERT [dbo].[musteri] ([musteriID], [kadi], [pass], [tckn], [ad], [soyad], [cinsiyet], [dogumTarihi], [kayitTarihi], [cepTelefonu], [evTelefonu], [eposta], [adresID], [puan], [durum]) VALUES (13, N'ibrahim', N'.', N'11111111111', N'ibrahim', N'ekinci', N'Bay', CAST(0x00008C6900000000 AS DateTime), CAST(0x0000A421016CD760 AS DateTime), N'(525) 452-4545', N'(356) 345-4345', N'ibrahimekinci36@gmail.com', 27, 0, 1)
INSERT [dbo].[musteri] ([musteriID], [kadi], [pass], [tckn], [ad], [soyad], [cinsiyet], [dogumTarihi], [kayitTarihi], [cepTelefonu], [evTelefonu], [eposta], [adresID], [puan], [durum]) VALUES (14, N'soner', N'.', N'46264972516', N'Soner', N'Aydınlık', N'Bay', CAST(0x0000A41900000000 AS DateTime), CAST(0x0000A42500FE9E3C AS DateTime), N'(354) 668-7684', N'(212) 546-8886', N'aydinliks@itu.edu.tr', 28, 0, 1)
INSERT [dbo].[musteri] ([musteriID], [kadi], [pass], [tckn], [ad], [soyad], [cinsiyet], [dogumTarihi], [kayitTarihi], [cepTelefonu], [evTelefonu], [eposta], [adresID], [puan], [durum]) VALUES (15, N'dondu', N'.', N'11221211215', N'dondu', N'ceylan', N'Bayan', CAST(0x0000A41900000000 AS DateTime), CAST(0x0000A425012E8494 AS DateTime), N'(555) 555-5555', N'', N'dnd.cyln@gmail.com', 31, 0, 1)
SET IDENTITY_INSERT [dbo].[musteri] OFF
SET IDENTITY_INSERT [dbo].[otobus] ON 

INSERT [dbo].[otobus] ([otobusID], [saseNumarasi], [plaka], [otobusModelID], [uretimYili], [durum]) VALUES (8, N'1FAFP55U62G193432', N'34ag034', 0, CAST(0x0000A2A600000000 AS DateTime), 1)
INSERT [dbo].[otobus] ([otobusID], [saseNumarasi], [plaka], [otobusModelID], [uretimYili], [durum]) VALUES (9, N'1FAFP55U62G193432', N'34ag035', 1, CAST(0x0000A2A600000000 AS DateTime), 1)
INSERT [dbo].[otobus] ([otobusID], [saseNumarasi], [plaka], [otobusModelID], [uretimYili], [durum]) VALUES (10, N'1FAFP55U62G193432', N'34ag036', 0, CAST(0x0000A2A600000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[otobus] OFF
SET IDENTITY_INSERT [dbo].[otobusMarka] ON 

INSERT [dbo].[otobusMarka] ([otobusMarkaID], [ad], [aciklama], [durum]) VALUES (0, N'Mercedes-Benz', NULL, 1)
INSERT [dbo].[otobusMarka] ([otobusMarkaID], [ad], [aciklama], [durum]) VALUES (1, N'
Setra', NULL, 1)
SET IDENTITY_INSERT [dbo].[otobusMarka] OFF
SET IDENTITY_INSERT [dbo].[otobusModel] ON 

INSERT [dbo].[otobusModel] ([otobusModelID], [otobusMarkaID], [ad], [koltukSayisi], [durum]) VALUES (0, 0, N'
Tourismo 15 RHD', 28, 1)
INSERT [dbo].[otobusModel] ([otobusModelID], [otobusMarkaID], [ad], [koltukSayisi], [durum]) VALUES (1, 1, N'
S 417 HDH', 56, 1)
SET IDENTITY_INSERT [dbo].[otobusModel] OFF
SET IDENTITY_INSERT [dbo].[sefer] ON 

INSERT [dbo].[sefer] ([seferID], [otobusID], [kalkisTarihi], [guzergahID], [durum], [yon]) VALUES (3, 8, CAST(0x0000A44E014F1540 AS DateTime), 11, 1, 1)
INSERT [dbo].[sefer] ([seferID], [otobusID], [kalkisTarihi], [guzergahID], [durum], [yon]) VALUES (7, 8, CAST(0x0000A44F013BDB60 AS DateTime), 1, 1, 1)
INSERT [dbo].[sefer] ([seferID], [otobusID], [kalkisTarihi], [guzergahID], [durum], [yon]) VALUES (8, 8, CAST(0x0000A44E01022DC0 AS DateTime), 11, 1, 0)
SET IDENTITY_INSERT [dbo].[sefer] OFF
SET IDENTITY_INSERT [dbo].[seferCalisan] ON 

INSERT [dbo].[seferCalisan] ([seferCalisanID], [seferID], [calisanID]) VALUES (3, 3, 10)
INSERT [dbo].[seferCalisan] ([seferCalisanID], [seferID], [calisanID]) VALUES (4, 3, 15)
INSERT [dbo].[seferCalisan] ([seferCalisanID], [seferID], [calisanID]) VALUES (5, 7, 10)
SET IDENTITY_INSERT [dbo].[seferCalisan] OFF
SET IDENTITY_INSERT [dbo].[sehir] ON 

INSERT [dbo].[sehir] ([sehirID], [plaka], [ad]) VALUES (1, N'1', N'ADANA')
INSERT [dbo].[sehir] ([sehirID], [plaka], [ad]) VALUES (2, N'33', N'MERSİN')
INSERT [dbo].[sehir] ([sehirID], [plaka], [ad]) VALUES (3, N'80', N'OSMANİYE')
SET IDENTITY_INSERT [dbo].[sehir] OFF
SET IDENTITY_INSERT [dbo].[sube] ON 

INSERT [dbo].[sube] ([subeID], [ad], [adresID], [acilisTarihi], [durum], [telefon], [mail]) VALUES (0, N'Merkez Şube', 1, CAST(0x0000A4140009412C AS DateTime), 1, N'0360 15 00', N'idsDestek1@ids.com')
INSERT [dbo].[sube] ([subeID], [ad], [adresID], [acilisTarihi], [durum], [telefon], [mail]) VALUES (1, N'Ceyhan Şube', 2, CAST(0x0000A41400098FD4 AS DateTime), 1, N'0360 15 01', N'idsDestek2@ids.com')
INSERT [dbo].[sube] ([subeID], [ad], [adresID], [acilisTarihi], [durum], [telefon], [mail]) VALUES (4, N'Merkez şube', 3, CAST(0x0000A414000AD433 AS DateTime), 1, N'0360 15 02', N'idsDestek3@ids.com')
SET IDENTITY_INSERT [dbo].[sube] OFF
ALTER TABLE [dbo].[adres] ADD  CONSTRAINT [DF_adres_sehirID]  DEFAULT ((0)) FOR [sehirID]
GO
ALTER TABLE [dbo].[adres] ADD  CONSTRAINT [DF_adres_ilceID]  DEFAULT ((0)) FOR [ilceID]
GO
ALTER TABLE [dbo].[adres] ADD  CONSTRAINT [DF_adres_mahalleID]  DEFAULT ((0)) FOR [mahalleID]
GO
ALTER TABLE [dbo].[basvurular] ADD  CONSTRAINT [DF_Basvurular_dogumtarihi]  DEFAULT (getdate()) FOR [dogumtarihi]
GO
ALTER TABLE [dbo].[basvurular] ADD  CONSTRAINT [DF_Basvurular_durum]  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[bilet] ADD  DEFAULT ((9)) FOR [musteriID]
GO
ALTER TABLE [dbo].[bilet] ADD  CONSTRAINT [DF__bilet__islem__4E88ABD4]  DEFAULT ((1)) FOR [islem]
GO
ALTER TABLE [dbo].[bilet] ADD  DEFAULT ((50)) FOR [ucret]
GO
ALTER TABLE [dbo].[bilet] ADD  CONSTRAINT [DF_bilet_CalisanID]  DEFAULT ((7)) FOR [CalisanID]
GO
ALTER TABLE [dbo].[bilet] ADD  DEFAULT (getdate()) FOR [alinmaTarihi]
GO
ALTER TABLE [dbo].[bilet] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[calisan] ADD  DEFAULT ('bay') FOR [cinsiyet]
GO
ALTER TABLE [dbo].[calisan] ADD  DEFAULT ((0)) FOR [ehliyetAlisTarihi]
GO
ALTER TABLE [dbo].[calisan] ADD  DEFAULT (getdate()) FOR [girisTarihi]
GO
ALTER TABLE [dbo].[calisan] ADD  DEFAULT ((1200)) FOR [maas]
GO
ALTER TABLE [dbo].[calisan] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[calisan] ADD  DEFAULT ('00000000000') FOR [calisanTCKNO]
GO
ALTER TABLE [dbo].[calisanKullanici] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[guzergah] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[guzergah] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[koltuk] ADD  DEFAULT ((9)) FOR [koltukNo]
GO
ALTER TABLE [dbo].[koltuk] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[molaTesis] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[molaTesis] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[musteri] ADD  DEFAULT ('Bay') FOR [cinsiyet]
GO
ALTER TABLE [dbo].[musteri] ADD  DEFAULT (getdate()) FOR [kayitTarihi]
GO
ALTER TABLE [dbo].[musteri] ADD  DEFAULT ((0)) FOR [puan]
GO
ALTER TABLE [dbo].[musteri] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[otobus] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[otobusMarka] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[otobusModel] ADD  DEFAULT ((60)) FOR [koltukSayisi]
GO
ALTER TABLE [dbo].[otobusModel] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[sefer] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[sefer] ADD  DEFAULT ((0)) FOR [yon]
GO
ALTER TABLE [dbo].[sube] ADD  DEFAULT (getdate()) FOR [acilisTarihi]
GO
ALTER TABLE [dbo].[sube] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[bilet]  WITH CHECK ADD  CONSTRAINT [FK_bilet_calisan] FOREIGN KEY([CalisanID])
REFERENCES [dbo].[calisan] ([calisanID])
GO
ALTER TABLE [dbo].[bilet] CHECK CONSTRAINT [FK_bilet_calisan]
GO
ALTER TABLE [dbo].[bilet]  WITH CHECK ADD  CONSTRAINT [FK_bilet_musteri] FOREIGN KEY([musteriID])
REFERENCES [dbo].[musteri] ([musteriID])
GO
ALTER TABLE [dbo].[bilet] CHECK CONSTRAINT [FK_bilet_musteri]
GO
ALTER TABLE [dbo].[bilet]  WITH CHECK ADD  CONSTRAINT [FK_bilet_sefer] FOREIGN KEY([seferID])
REFERENCES [dbo].[sefer] ([seferID])
GO
ALTER TABLE [dbo].[bilet] CHECK CONSTRAINT [FK_bilet_sefer]
GO
ALTER TABLE [dbo].[calisan]  WITH CHECK ADD  CONSTRAINT [FK_calisan_adres] FOREIGN KEY([adresID])
REFERENCES [dbo].[adres] ([adresID])
GO
ALTER TABLE [dbo].[calisan] CHECK CONSTRAINT [FK_calisan_adres]
GO
ALTER TABLE [dbo].[calisan]  WITH CHECK ADD  CONSTRAINT [FK_calisan_calisanPozisyon] FOREIGN KEY([calisanPozisyonID])
REFERENCES [dbo].[calisanPozisyon] ([calisanPozisyonID])
GO
ALTER TABLE [dbo].[calisan] CHECK CONSTRAINT [FK_calisan_calisanPozisyon]
GO
ALTER TABLE [dbo].[calisan]  WITH CHECK ADD  CONSTRAINT [FK_calisan_sube] FOREIGN KEY([subeID])
REFERENCES [dbo].[sube] ([subeID])
GO
ALTER TABLE [dbo].[calisan] CHECK CONSTRAINT [FK_calisan_sube]
GO
ALTER TABLE [dbo].[calisanKullanici]  WITH CHECK ADD  CONSTRAINT [FK_calisanKullanici_calisan] FOREIGN KEY([calisanID])
REFERENCES [dbo].[calisan] ([calisanID])
GO
ALTER TABLE [dbo].[calisanKullanici] CHECK CONSTRAINT [FK_calisanKullanici_calisan]
GO
ALTER TABLE [dbo].[guzergahDurak]  WITH CHECK ADD  CONSTRAINT [FK_guzergahDurak_guzergah] FOREIGN KEY([guzergahID])
REFERENCES [dbo].[guzergah] ([guzergahID])
GO
ALTER TABLE [dbo].[guzergahDurak] CHECK CONSTRAINT [FK_guzergahDurak_guzergah]
GO
ALTER TABLE [dbo].[guzergahMola]  WITH CHECK ADD  CONSTRAINT [FK_guzergahMola_guzergah] FOREIGN KEY([guzergahID])
REFERENCES [dbo].[guzergah] ([guzergahID])
GO
ALTER TABLE [dbo].[guzergahMola] CHECK CONSTRAINT [FK_guzergahMola_guzergah]
GO
ALTER TABLE [dbo].[guzergahMola]  WITH CHECK ADD  CONSTRAINT [FK_guzergahMola_molaTesis] FOREIGN KEY([molaTesisID])
REFERENCES [dbo].[molaTesis] ([molaTesisID])
GO
ALTER TABLE [dbo].[guzergahMola] CHECK CONSTRAINT [FK_guzergahMola_molaTesis]
GO
ALTER TABLE [dbo].[ilce]  WITH CHECK ADD  CONSTRAINT [FK_ilce_sehir1] FOREIGN KEY([sehirID])
REFERENCES [dbo].[sehir] ([sehirID])
GO
ALTER TABLE [dbo].[ilce] CHECK CONSTRAINT [FK_ilce_sehir1]
GO
ALTER TABLE [dbo].[koltuk]  WITH CHECK ADD  CONSTRAINT [FK_koltuk_musteri] FOREIGN KEY([musteriID])
REFERENCES [dbo].[musteri] ([musteriID])
GO
ALTER TABLE [dbo].[koltuk] CHECK CONSTRAINT [FK_koltuk_musteri]
GO
ALTER TABLE [dbo].[koltuk]  WITH CHECK ADD  CONSTRAINT [FK_koltuk_sefer2] FOREIGN KEY([seferID])
REFERENCES [dbo].[sefer] ([seferID])
GO
ALTER TABLE [dbo].[koltuk] CHECK CONSTRAINT [FK_koltuk_sefer2]
GO
ALTER TABLE [dbo].[mahalle]  WITH CHECK ADD  CONSTRAINT [FK_mahalle_ilce1] FOREIGN KEY([ilceID])
REFERENCES [dbo].[ilce] ([ilceID])
GO
ALTER TABLE [dbo].[mahalle] CHECK CONSTRAINT [FK_mahalle_ilce1]
GO
ALTER TABLE [dbo].[molaTesis]  WITH CHECK ADD  CONSTRAINT [FK_molaTesis_adres] FOREIGN KEY([adresID])
REFERENCES [dbo].[adres] ([adresID])
GO
ALTER TABLE [dbo].[molaTesis] CHECK CONSTRAINT [FK_molaTesis_adres]
GO
ALTER TABLE [dbo].[musteri]  WITH CHECK ADD  CONSTRAINT [FK_musteri_adres] FOREIGN KEY([adresID])
REFERENCES [dbo].[adres] ([adresID])
GO
ALTER TABLE [dbo].[musteri] CHECK CONSTRAINT [FK_musteri_adres]
GO
ALTER TABLE [dbo].[otobus]  WITH CHECK ADD  CONSTRAINT [FK_otobus_otobusModel] FOREIGN KEY([otobusModelID])
REFERENCES [dbo].[otobusModel] ([otobusModelID])
GO
ALTER TABLE [dbo].[otobus] CHECK CONSTRAINT [FK_otobus_otobusModel]
GO
ALTER TABLE [dbo].[otobusModel]  WITH CHECK ADD  CONSTRAINT [FK_otobusModel_otobusMarka] FOREIGN KEY([otobusMarkaID])
REFERENCES [dbo].[otobusMarka] ([otobusMarkaID])
GO
ALTER TABLE [dbo].[otobusModel] CHECK CONSTRAINT [FK_otobusModel_otobusMarka]
GO
ALTER TABLE [dbo].[sefer]  WITH CHECK ADD  CONSTRAINT [FK_sefer_guzergah] FOREIGN KEY([guzergahID])
REFERENCES [dbo].[guzergah] ([guzergahID])
GO
ALTER TABLE [dbo].[sefer] CHECK CONSTRAINT [FK_sefer_guzergah]
GO
ALTER TABLE [dbo].[sefer]  WITH CHECK ADD  CONSTRAINT [FK_sefer_otobus] FOREIGN KEY([otobusID])
REFERENCES [dbo].[otobus] ([otobusID])
GO
ALTER TABLE [dbo].[sefer] CHECK CONSTRAINT [FK_sefer_otobus]
GO
ALTER TABLE [dbo].[seferCalisan]  WITH CHECK ADD  CONSTRAINT [FK_seferCalisan_calisan] FOREIGN KEY([calisanID])
REFERENCES [dbo].[calisan] ([calisanID])
GO
ALTER TABLE [dbo].[seferCalisan] CHECK CONSTRAINT [FK_seferCalisan_calisan]
GO
ALTER TABLE [dbo].[seferCalisan]  WITH CHECK ADD  CONSTRAINT [FK_seferCalisan_sefer] FOREIGN KEY([seferID])
REFERENCES [dbo].[sefer] ([seferID])
GO
ALTER TABLE [dbo].[seferCalisan] CHECK CONSTRAINT [FK_seferCalisan_sefer]
GO
ALTER TABLE [dbo].[sube]  WITH CHECK ADD  CONSTRAINT [FK_sube_adres] FOREIGN KEY([adresID])
REFERENCES [dbo].[adres] ([adresID])
GO
ALTER TABLE [dbo].[sube] CHECK CONSTRAINT [FK_sube_adres]
GO
